// https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html

/////////////////////////////////////////
//// INCLUDES
/////////////////////////////////////////

include "modules/rules.kdl"
include "modules/inputs.kdl"
include "modules/outputs.kdl"
include "modules/misc.kdl"
include "modules/workspaces.kdl"
include "modules/animations.kdl"
include "modules/gestures.kdl"
include "modules/layout.kdl"
include "modules/binds.kdl"
include "modules/noctalia.kdl"

/////////////////////////////////////////
//// GENERAL
/////////////////////////////////////////

spawn-at-startup "kitty"
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot_ %Y-%m-%d_%H-%M-%S.png"

include "noctalia.kdl"
